.navbar-container {
  padding: 0 24px;
  margin: auto;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 999;
  border-bottom: 2px solid #000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

nav .navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  display: flex;
  padding: 0 24px;
  font-weight: bold;
  color: #000000ee;
}

nav .logo {
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 700;
  font-size: larger;
  color: #000000ee;
}

nav a {
  color: inherit;
  display: block;
  position: relative;
  cursor: pointer;
}

a::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 36px;
  height: 36px;
  background-color: #00000022;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

nav a::after {
  opacity: 0;
  transform: scale(0.75);
  transform-origin: center;
}

nav a:hover::after,
nav a:focus::after {
  opacity: 1;
  transform: scale(1);
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 8px;
  width: 100%;
  background-color: #000;
}
