.tb-last {
  position: absolute;
  bottom: 32px;
  left: 16px;
  display: flex;
  height: 32px;
  line-height: 32px;
  /* overflow: hidden; */
}

.tb-group {
  display: flex;
  background-color: #fff;
  border-radius: 4px;
  /* overflow: hidden; */
  border: 2px solid #000;
}

.tb-item {
  min-width: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; */
}

.tb-item:not(:first-child) {
    /* border-left: 2px solid rgba(0, 0, 0, 0.7); */
}

.tb-item.--2 {
  min-width: 64px;
}

.tb-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.tb-item.--text {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
}

.tb-first {
  position: absolute;
  top: 32px;
  left: 16px;
  display: flex;
  /* width: 48px; */
  /* height: 32px; */
  flex-direction: column;
  row-gap: 16px;
  line-height: 48px;
  /* overflow: hidden; */
}

.tb-group.--col{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 48px;
}

.tb-item.--col{
  height: 48px;
}

.tb-item.--col:not(:first-child) {
  border: none;
  /* border-top: 1px solid #000; */
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  display: block;
  visibility: hidden;
  /* min-width: 100px; */
  height: 32px;
  line-height: 32px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 0 16px;
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 56px;
  white-space: nowrap;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}